.arrow {
    border: 0 solid transparent;
    border-left-color: white;
    border-width: 4px 0 4px 4px;
    height: 0;
    left: 50%;
    margin-left: -2px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 0
}

.right-rail-open .arrow {
    border-width: 4px 4px 4px 0;
    border-left-color: transparent;
    border-right-color: white
}

.arrow-holder-clickable {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    cursor: pointer;
    z-index: 1000;
}

.right-rail {
    background-color: #e1e8e8;
    z-index: 99999999;
    height: 100%;
    width: 400px;
    position: fixed;
    top: 0;
    left: -400px;
    text-align: center;
    overflow: hidden;
    border-radius: 0px 5px 5px 0px;
    border-right: 1px solid #999999;
}

#results li {
    border-bottom: 1px solid #aaaaaa;
    display: block;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: black;
}

#results li:last-child {
    border-bottom: none;
}

#results li:hover {
    background-color: rgba(132, 132, 132, 0.3)
}

#results li .result-list {
    align-items: center;
    display: flex
}

#results li .result-img {
    border-radius: 5px;
    border: 1px solid #999999;
    display: inline-table;
    float: left;
    margin-right: 5px;
    width: 150px;
    height: 80px;
}

#results .result-list div:nth-child(2) {
    word-break: break-word;
}

#results .error {
    align-items: center;
    display: flex
}

section#SideRail {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow-y: auto;
}

.dark .arrow {
    border-left-color: #b698fb;
}

.dark .right-rail-open .arrow {
    border-right-color: #b698fb;
}

.dark .right-rail {
    background-color: rgba(27, 6, 78, 0.5);
    border-right: 1px solid #b698fb;
}

.dark #results li {
    border-bottom: 1px solid #b698fb;
    color: #b698fb;
}

.dark #results li:last-child {
    border-bottom: none;
}

.dark #results li:hover {
    background-color: rgba(170, 133, 255, 0.3)
}

.dark #results li .result-img {
    border: 1px solid #b698fb;
}

.dark #SideRail,
.dark #SideRail button {
    background: rgba(27, 6, 78, 0.5);
    border-color: #987fdb;
    transition: .5s;
    color: #c4aaff;
    box-shadow: none;
}

.dark #SideRail button:hover {
    background: rgba(27, 6, 78, 0.9);
    border-color: #b698fb;
}


.dark #SideRail input {
    background: rgba(27, 6, 78, 0.5);
    border: 1px solid #987fdb;
    color: #c4aaff;
    border-radius: 5px;
}
